<!DOCTYPE html>
<html>
<head>
	<title>Contact Form</title>
	<h1>Contact Form</h1>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
</head>
<body>
	<form action="/EndingPage" method="POST">
		<input name="name" type="text" placeholder="First name, Last name"><br>
		<input name="email" type="email" placeholder="abc123@example.com"><br>
		<textarea rows="10" cols=" 50" name="message" type="text"></textarea><br>
		<button class="btn btn-primary" type="submit">Submit</button>
	</form>
</body>
</html>

<style>
    h1 {
    	text-align: center;
    	text-decoration: underline;
    	margin-top: 50px;
    }
    
    body {
    	text-align: center;
    	background: -webkit-linear-gradient(to right, #fff, rgb(255, 0, 0)); 
    	background: linear-gradient(to right, #fff, rgb(255, 0, 0));
    }
    
    input {
    	text-align: center;
    	margin-top: 10px;
    	width:200px;
    }
    
    button {
    	margin-top: 10px;
    }
    
    textarea {
    	margin-top: 10px; 
    }
</style>

