<!DOCTYPE html>
<html>
<head>
	<title>MK Decisions</title>
	<h1>Developer Pre Interview Challenge</h1>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
</head>
<body>
	<form action="/ContactForm" method="POST">
		<input name="username" type="text" placeholder="Username"><br>
		<input name="password" type="password" placeholder="Password"><br>
		<button class="btn btn-primary "type="submit">Login</button>
	</form>
</body>
</html>

<style>
    h1 {
    	text-align: center;
    	text-decoration: underline;
    	margin-top: 50px;
    }
    
    body {
    	text-align: center;
    	background: -webkit-linear-gradient(to right, #fff, #076585); 
    	background: linear-gradient(to right, #fff, #076585);
    }
    
    input {
    	text-align: center;
    	margin-top: 10px;
    	width:200px;
    }
    
    button {
    	margin-top: 10px;
    }
</style>
